version: "3.8"
services:
  db: 
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: ${DB_PASSWORD}  # ← Variável de ambiente
      POSTGRES_DB: test_ai_chat
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data: